<h2>School Crud</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<%= render :partial => 'classrooms' %>
		</div>
		<div class="col-md-6">
			<%= render :partial => 'teachers' %>
		</div>
	</div>
</div>

